.tieude{
    color: rgb(51, 108, 182);   
    font-family: Arial, sans-serif
}
.content{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}
.example {
    border-left: yellow 5px solid;
    background-color: #f5f5f5;
    border-radius:8px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}